{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Kids</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'min.css' %}">
</head>
<body>
  <header>
    <a href="/main/">Main&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
    <a href="/man/">Man&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
    <a href="/small_kids/">&nbsp&nbsp&nbsp&nbsp&nbsp&nbspKids&nbsp</a>
    <a href="/women/">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspWomen&nbsp</a>
    
  </header>

</html>
