<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../css/min.css">
  <title>Document</title>
</head>
<body>
  <header>
    <a href="main.html">Main&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
    <a href="man.html">Man&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
    <a href="small kids.html">&nbsp&nbsp&nbsp&nbsp&nbsp&nbspKids&nbsp</a>
    <a href="women.html">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspWomen&nbsp</a>
    
  </header>

</html>